// Grid
$grid-gutter-width: 1rem;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px);
$gutter: $grid-gutter-width;

// Font
$font-family-title: 'Exo', sans-serif !default;
$font-family-base: 'Trebuchet MS', Helvetica, sans-serif !default;

// Colors
$blue: #1698d9;
$pink: #d91667;
$yellow: #ffff66;

$white: #ffffff;
$gray-100: #f2f2f2;
$gray: #b3b3b3;
$black: #000000;

// Card
$card-height: 29.5rem;