@import "vars";
@import "fonts";
@import "libs";

html,
body {
  background: url("../img/bg_pattern.jpg") 0 0;
  box-shadow: inset 0 16rem 16rem -8rem rgba($black, .5),
  inset 0 -16rem 16rem -8rem rgba($black, .5);
  height: 100%;
  font-family: $font-family-base;
  color: $white;
  font-size: 16px;
  line-height: 1.2;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.h-100 {
  height: 100%;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 2.25rem;
  margin-bottom: 1.45rem;
  font-weight: normal;
  font-family: $font-family-title;
  text-align: center;
}

.product-item {
  z-index: 1;
  margin: .25rem auto 3rem;
  position: relative;
  cursor: pointer;
  outline: none;
  .card {
    width: 100%;
    max-width: 19.5rem;
    height: $card-height;
    border-radius: .5rem;
    position: relative;
    background: linear-gradient(135deg, transparent 1.875rem, $gray-100 0);
    margin: .25rem auto;
    &::before {
      content: '';
      position: absolute;
      top: -.25rem;
      left: -.25rem;
      right: -.25rem;
      bottom: -.25rem;
      background: linear-gradient(135deg, transparent 1.875rem, $blue 0);
      z-index: -1;
      border-radius: .75rem;
      transition: background-color .2s ease;
    }
    &-wrapper {
      color: $black;
      padding: 1rem 2.75rem;
      border-radius: .5rem;
      overflow: hidden;
      height: $card-height;
      position: relative;
      .card-heading {
        p {
          margin-bottom: 0.6rem;
        }
        .hover-text {
          display: none;
          color: $pink;
        }
      }
      .card-title {
        h3 {
          font-size: 3rem;
          font-weight: bold;
          line-height: 1;
          margin-left: -.15rem;
          margin-bottom: 2px;
        }
        h4 {
          font-size: 1.5rem;
        }
      }
      .card-set {
        padding-left: 0;
        list-style: none;
        margin-top: 0.9rem;
        font-size: 14px;
      }
      .card-img {
        position: absolute;
        bottom: -5.7rem;
        left: -1.8rem;
      }
      .card-badge {
        position: absolute;
        right: .75rem;
        bottom: .75rem;
        border-radius: 50%;
        background: $blue;
        color: $white;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.3125rem;
        line-height: 1;
        span {
          font-size: 2.625rem;
          display: block;
          margin-bottom: -.125rem;
        }
      }
    }
  }
  .product-note {
    font-size: 1.02rem;
    text-align: center;
    margin-top: 1rem;
    .product-link {
      display: block;
      a {
        text-decoration: underline;
        text-decoration-style: dashed;
        outline: none;
        color: $blue;
        &:hover,
        &:focus {
          color: lighten($blue, 10%);
        }
      }
    }
    .product-desc {
      display: none;
    }
    .product-info {
      color: $yellow;
      display: none;
    }
  }
  &:not(.active):not(.disabled),
  &:not(.active):not(.disabled) {
    .card {
      &:hover,
      &:focus {
        &::before {
          background: linear-gradient(135deg, transparent 1.875rem, lighten($blue, 10%) 0);
        }
      }
    }
  }
  &.active {
    .card {
      .card-badge {
        background: $pink;
      }
      &::before {
        background: linear-gradient(135deg, transparent 1.875rem, $pink 0);
      }
      &:hover {
        .card-heading {
          .static-text {
            display: none;
          }
          .hover-text {
            display: block;
          }
        }
      }
      &:hover,
      &:focus {
        &::before {
          background: linear-gradient(135deg, transparent 1.875rem, lighten($pink, 10%) 0);
        }
      }
    }
    .product-note {
      .product-link {
        display: none;
      }
      .product-desc {
        display: block;
      }
    }
  }
  &.disabled {
    cursor: default;
    .card {
      .card-heading,
      .card-title,
      .card-set {
        opacity: .1;
      }
      .card-img {
        opacity: .5;
      }
      .card-badge {
        background: $gray;
      }
      &::before {
        background: linear-gradient(135deg, transparent 1.875rem, $gray 0);
      }
    }
    & .product-note {
      .product-link {
        display: none;
      }
      .product-info {
        display: block;
      }
    }
  }
}

// Media
@import "media";